@media (max-width: 700px) {
  .productSection .addToCart {
    width: 50%;
  }
  .leftSect {
    .category {
      display: none;
    }
    .logo {
      margin-right: 0;
      margin-left: 2rem;
    }
  }
  header .ham {
    display: flex;
  }
}
